<form style="align-self: center;" (ngSubmit)="onSubmit()">
    <h1>Login here</h1>
    <div class="form-group">
      <label>Customer Id:</label>  <input type = "text" name="customerId" [(ngModel)]="loginInformation.customerId" class="form-control" placeholder="Enter customerid here" required>
    </div>
    <div class="form-group">
      <label>Password:</label> <input type = "password" name="customerPassword" [(ngModel)]="loginInformation.customerPassword" class="form-control" placeholder="Enter Password here" required> 
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

