<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>DEPOSIT</b></h5>
          <button type="button" class="btn btn-success" (click)="deposit()">Deposit</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>WITHDRAW</b></h5>
          <button type="button" class="btn btn-success" (click)="withdraw()">Withdraw</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>FUNDTRANSFER</b></h5>
            <button type="button" class="btn btn-success" (click)="fund()">Fund Transfer</button>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>SHOWBALANCE</b></h5>
            <button type="button" class="btn btn-success" (click)="showbalance()">Show Balance</button>
        </div>
        </div>
      </div>
  </div>
  

